<div class="profile-event">
    <div class="block-profile">
        <span>
            <a href="/blocks/<%= block.number %>">
                <font size="2"> Block <%= block.number %></font>
            </a>
        </span>
    </div>
    <div class="block-detail-shortcut">
        <p>Difficulty <%= block.difficulty %></p>
        <p>Timestamp <%= block.timestamp %></p>
        <p>Transactions <%= block.transactions.length %></p>
    </div>
</div>