<div class="post">
    <div class="panel panel-default" style="background-color: #333; margin-bottom: 0px;">
        <div class="panel-heading" style="background-color: #bbd;">
            <h3 class="panel-title" style="text-align:left">Question</h3>
            
        </div>
        <div class="panel-body" style="text-align:left;">
            <h3><%= question.title %></h3>
            <p>
                <%- question.content %>
            </p>
        </div> 
    </div>
    <div class="panel-footer panel-footer-custom">
        By <%= question.author.username %>, Created at <%= question.created_at %>
    </div> 
</div>
<div style="height: 20px"></div>
<div class="answers">
    <% answers.forEach(function(answer){ %>
        <div class="answer-row">
            <div class="col-md-2 answer-column">
                <div class="vote-panel">
                    <div class="up-vote">
                        <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span>
                    </div>
                    <div class="votes">1</div>
                    <div class="down-vote">
                        <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                    </div>
                    <div class="closed">

                    </div>
                </div>
            </div>
            <div class="col-md-10 answer-column">
                <div class="answer-panel">
                    <div class="answer-content">
                        <%- answer.content %>
                    </div>
                </div>
            </div>
        </div>
    <% })%>
</div>
<div style="height: 20px"></div>
<div class="new-answer">
    <div class="panel panel-profile no-bg">
        <div class="panel-heading">
            <h2 class="panel-title heading-sm pull-left">
                Your Answer
            </h2>
        </div>
        <div class="panel-body">
            <form class="form_post" method="post" enctype="multipart/form-data" action="/piazza/<%= question._id %>/answer">
                <div class="form-group">
                    <label for="content" class="col-md-2 control-label">Content</label>
                    <div class="col-md-10" style="margin-bottom: 10px;">
                        <textarea type="text" class="form-control" name="content" id = "content" placeholder="New Post" rows="6"> </textarea>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10" style="margin-bottom: 10px;">
                        <button type="submit" class="btn btn-default">Post</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
